div.card {
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  div.card-img-overlay {
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0;
      li {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #046e1b;
      }
    }
  }
  div.card-body {
    div {
      color: #000;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    a {
      color: #f79f1a;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
    }
  }
}
