div.card {
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .cardUpper {
    width: 100%;
    border: none;
    position: relative;
    img {
      width: 100%;
    }
    .cardUpperInfo {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0.5rem;
      background-color: rgba(255, 255, 255, 0.5);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #046e1b;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      gap: 2;
      .time,
      .person,
      .wifi {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
      }
    }
  }
  div.card-body {
    div {
      color: #000;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    a {
      color: #f79f1a;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
    }
  }
}
