.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a.Logo.navbar-brand {
    color: #046e1b;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }
  .navigation {
    margin: auto;
    padding: 0 2rem;
    a {
      color: black;
      font-weight: bold;
    }
  }
  .nav {
    a {
      color: black;
      font-weight: bold;
    }
  }
  div.navigation.navbar-nav {
    justify-content: space-between;
  }
}
