a.Logo.navbar-brand{
    color: #006400;
    font-weight: bold;
}
.container.navigation{
    margin: auto;
}
.Navbar.brand {
    color: green;
}
div.navigation.navbar-nav{
    justify-content: space-between;
}
a.nav-link{
    font-weight: bold;
}