a.Logo.navbar-brand {
  color: #006400;
  font-weight: bold;
}
.container.navigation {
  margin: auto;
  padding: 0 2rem;
}
.Navbar.brand {
  color: #046e1b;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
div.navigation.navbar-nav {
  justify-content: space-between;
}
a.nav-link {
  font-weight: bold;
}
